<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is the placeholder for Team Activity 02</p>
      </div>
    </div>
    <div class="container">
      <form action="/ta02/addUser" method="POST" id="addNewuser">
        <label for="newUser"></label>
        <input type="text" name="newUser">
        <button type="submit">Add New User</button>
    </form>
  </div>
    
  
   <ul id="users">
    <% for(user of users) { %>
      <li><%= user %></li>
    <% } %>
  </ul>

  <form action="/ta02/removeUser" method="POST">
    <label for="removeUser">Select to remove</label>
    <select name="removeUser">
      <% for(user of users) { %>
        <option><%= user %></option>
      <% } %>
    </select>

  </form>

</body>

</html>